* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: #222222;
    color: #EBECF0;
}

header {
    background-color: #222222;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#aj_logo {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 50px;
}

ul {
    list-style-type: none;
}

.skills-list {
    display: inline;
    margin-right: 20px;
    background-color: #555555;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #EFCFD4;
    font-size: 25px;
    transition: color 0.3s ease;
}

a:hover {
    color: #757575;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #222222;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
}

#home {
    display: flex;
    justify-content: center;
}

#home .intro-container {
    display: flex;
    align-items: center;
}

#home .intro-container img {
    margin-right: 20px;
    width: 400px;
    height: 550px;
    border-radius: 10%;
    overflow: hidden;
}

#home .intro-text {
    flex-grow: 1;
}

#home .intro-text .name {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 100px;
    font-weight: bold;
}

#home .intro-text p {
    font-family: 'Fira Code', monospace;
    color: #EFCFD4;
    font-size: 25px;
}

#about .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%; 
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

#about .introduction p:first-child {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: bold;
}

#about .introduction p:last-child {
    font-family: 'Fira Code', monospace;
    color: #EBECF0;
    font-size: 19px;
}

#about .introduction .education {
    margin-top: 20px;
}

#about .introduction .education p:first-child {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 30px;
    margin-bottom: 10px;
}

#about .introduction .education p:last-child {
    font-family: 'Fira Code', monospace;
    color: #EBECF0;
    font-size: 19px;
}

#about .introduction .skills {
    margin-top: 20px;
}

#about .introduction .skills p {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 30px;
    margin-bottom: 10px;
}

.skills .heading {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: #EFCFD4;
    font-style: italic;
}

.skills ul {
    list-style-type: none;
}

.skills ul ul {
    list-style-type: none;
    font-family: 'Fira Code', monospace;
    color: #EBECF0;
    font-size: 19px;
}

#about a {
    color: #EFCFD4;
}

#about .download-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#about .download-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EFCFD4;
    color: #222222;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#about .download-link a:hover {
    background-color: #555555;
}

#certifications {
    text-align: center;
}

#certifications .certifications-name {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: bold;
}

#certifications .cert-name {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#certifications .cert-container {
    background-color: #555555;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: 'Consolas', monospace;
    margin: 10px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#certifications .all-cert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#certifications .cert-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#certifications p {
    font-family: 'Fira Code', monospace;
    color: #EBECF0;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%; 
}

#certifications img {
    display: block;
    margin: 0 auto;
}

#projects {
    text-align: center;
}

#projects .projects-name {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: bold;
}

#projects .proj-name {
    font-family: 'IBM Plex Mono', monospace;
    color: #EFCFD4;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#projects .proj-container {
    background-color: #555555;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: 'Consolas', monospace;
    margin: 10px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#projects .all-proj-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#projects .proj-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#projects p {
    font-family: 'Fira Code', monospace;
    color: #EBECF0;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%; 
}

#projects img {
    display: block;
    margin: 0 auto;
}

.divider {
    height: 1px;
    background-color: #757575;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 40px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.floating-button:hover {
    background-color: #EFCFD4;
    transform: scale(1.1);
}